

.timeInputContainer {
    display: flex;
    gap: 0.1rem;
    font-size: 0.75rem;
}
.timeInputField {
    color: var(--text-color);
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    /* hide native input spinner */
    appearance: none; 
    -moz-appearance: textfield;

    width: 20px;
    margin: 0;
    padding: 0;
}

.timeInputField::-webkit-inner-spin-button,
.timeInputField::-webkit-outer-spin-button {
    /* hide native input spinner */
    -webkit-appearance: none;
}


